.Rproj.user
.Rhistory
.RData
.Ruserdata
nii-sx7kn7GNf6E-unsplash.jpg
chuttersnap-gts_Eh4g1lk-unsplash.jpg
TR_v06_collapsed.rds
PHDS_HLE_2020.Rproj
Healthy-life-years-at-birth_04_04_20.png
pres.pdf
josh-withers-3mY4U7FIevc-unsplash.jpg
is_it_worth_the_time.png
test.pdf
PHDS_HLE_2021.Rproj
multistate_animation.png
